body {
  background: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border: white 1px solid;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  border: solid 1px white;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.199);
  backdrop-filter: blur(4px);
}
img {
  width: 20px;
  height: 30px;
  border-radius: 50%;
  border: solid 8px grey;
}
button {
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
}
.profile_image {
  width: 200px;
  height: 200px;
  border: solid 20px grey;
}
div {
  margin: 10px;
}
.react {
  background-color: aqua;
}
.share {
  background-color: orange; 
}
